<h1>Все автомобили</h1>
<h3>@Model.currentCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.allCars)
        {
            @Html.Partial("_AllCars", car)
        }
    }
</div>

